@font-face {
    font-family: 'Product Sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Regular'), url('ProductSans-Medium.woff') format('woff');
    }

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    /* font-family: Arial, sans-serif; */
    font-family: "Product Sans Medium Regular", arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 400px;
    height: 300px;
    display: flex;

    color-scheme: light dark;
    color: #bdc1c6;
    background-color: #202124;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;

    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
}

body{
    font-family: "Product Sans Medium Regular", arial, sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#topBar {
    display: flex;
    /* display: flex; */
    /* justify-content: baseline; */
    align-items: center;
    /* align-self: center; */
}

#topBar img {
    /* display: flex; */
    /* align-items: right; */
    height: 48px; /* Adjust the height of the image */
    /* margin-right: 0.5em; Add spacing between text and image */
}

#line {
    margin-left: 2.5px;
    width: 375px;
}

h1 {
    font-size: 3.2em;
    line-height: 0.6;
    padding-left: 15px;
    padding-right: 155px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    font-family: inherit;
    /* padding: 0.6em 1.2em; */
    padding-left: 10px;
    font-size: 1.2em;
    /* font-weight: 500; */
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

#apiKeyInput{
    padding-left: 6px;
}

p {
    font-family: inherit;
}

#saveButton{
    border-radius: 0 12px 12px 0;
}

#apiKey{
    width: 266px;
    margin-left: 5px;
}

#leftButton,
#middleButton,
#rightButton {
    margin-left: 5px;
    padding: 0px;
    border-radius: 12px 0 0 12px;
    width: 122px;
    height: 36px;
    font-family: inherit;
    font-size: 10px;
    display: inline-block; /* Ensure buttons are inline */
    line-height: 36px; /* Set line height equal to button height for vertical centering */
    vertical-align: middle;
}

#middleButton {
    margin-left: 1px;
    border-radius: 0;
    font-size: 15px
}

#rightButton {
    margin-left: 1px;
    margin-right: 0;
    border-radius: 0 12px 12px 0;
    font-size: 20px;
}

textarea,
button,
input {
    /* margin-top: 4px; */
    /* margin-left: 5px; */
    border-radius: 12px 0 0 12px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #303134;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #ffffff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}


